*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #000;
	border: none;
	background-color: transparent;
	font-family: sans-serif;
	box-sizing: border-box;
}
body{
	font-size: 14px;
}
.row{
	width: 300px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding: 20px 0;
}
.btn{
	font: 500 14px sans-serif;
	color: #fff;
	border-radius: 5px;
	background-color: orangered;
	padding: 10px 5px;
}
.steps span,.time span{
	display: block;
	text-align: center;
}
.steps{
	margin-left: auto;
}
.time{
	margin-left: 10px;
}

.gameBody{
	width: 300px;
	height: 300px;
	border: 1px solid #000;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.bone{
	background-color: darkgreen;
	border: 1px solid #fff;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	transition: .5s ease;
}
.bone span{
	width: 75%;
	height: 75%;
	border-radius: 3px;
	box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
	color: #fff;
	font-family: "Arial Black";
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pos1{
	transform: translate(0,0);
}
.pos2{
	transform: translate(100%,0);
}
.pos3{
	transform: translate(200%,0);
}
.pos4{
	transform: translate(300%,0);
}
.pos5{
	transform: translate(0,100%);
}
.pos6{
	transform: translate(100%,100%);
}
.pos7{
	transform: translate(200%,100%);
}
.pos8{
	transform: translate(300%,100%);
}
.pos9{
	transform: translate(0,200%);
}
.pos10{
	transform: translate(100%,200%);
}
.pos11{
	transform: translate(200%,200%);
}
.pos12{
	transform: translate(300%,200%);
}
.pos13{
	transform: translate(0,300%);
}
.pos14{
	transform: translate(100%,300%);
}
.pos15{
	transform: translate(200%,300%);
}
.pos16{
	transform: translate(300%,300%);
}

.loadBtn{
	margin-right: auto;
}

@media screen and (min-width: 768px){
	body{
		font-size: 16px;
	}
	.row{
		width: 600px;
	}
	.btn{
		padding: 10px 30px;
	}
	.gameBody{
		width: 600px;
		height: 600px;
	}
	.bone span{
		font-size: 24px;
	}
}